/*其它*/

blockquote {margin: 1em 40px;}

dfn {font-style: italic;}

hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}

code, kbd, pre, samp {font-size: 1em;}

pre {margin: 1em 0; white-space: pre;white-space: pre-wrap;word-wrap: break-word; }

small {font-size: 80%;}

sub,sup {font-size: 75%;line-height: 0; position: relative;vertical-align: baseline; /* Prevent `sub` and `sup` affecting `line-height` in all browsers.*/}

sup {top: -0.5em;}

sub {bottom: -0.25em;}

dl{margin: 1em 0;}

dd {margin: 0 0 0 40px;}

audio:not([controls]) {display: none; height: 0;}

/*信息表*/

.InfoTitle, .ChannelName{ font-size:18px; line-height: 1.5em; vertical-align:middle; font-weight:bold;}

.InfoTime{color:#999; text-align:left; font-size:12px; padding:2px 0px; height:25px}

.InfoContent{ font-size:17px; line-height:1.5em}

.InfoContent p{ font-size:17px}

.InfoPicture{ text-align: center;}

.InfoPicture img{width:100%;}

.f1{}

.f2{}

.f3{}

.f4{}

.f5{}

.ShowInfo{ height: 30px; line-height: 1.5em; font-size:18px; border-top: 1px solid #bdbec1; vertical-align:middle; padding-top:5px; color:#000000}



/*频道表*/

.ChannelName{}

.ChannelContent{}

.ChannelSContent{}

/*数据字段全局样式 结束*/



/*频道body类*/

.body_article, .body_download, .body_picture, .body_product, .body_page, .body_video, .body_job, .body_feedback{ background-color:#e2e3e6; }

.single, .article, .picture, .download, .video, .product, .job, .guestbook, .sitemap, .feedback{ width:99%; margin:0px auto }



/*招聘*/

.job{ }

table.jobtable { border:0px solid #16b7b7; margin:8px 0px; padding:0px; text-align:center; width:100%; border-collapse:collapse;}

table.jobtable td{ padding:5px 2px;}

table.jobtable th{color:#090}

.JobName{ font-size:20px; border-bottom: 1px dotted #999; padding:3px 8px; font-weight:bold;}



/*留言*/

.guestbook{ }

.guestbook .ChannelName h1{ border-bottom:1px dotted #CCCCCC; padding:5px 0px;}

table.guestbooktable{ width:100%;}

table.guestbooktable .t1{ width:25%; text-align:left }

table.guestbooktable .t2{ width:75%; text-align:left;}



/*反馈*/

.feedback{ }

.feedback .ChannelName h1{ border-bottom:1px dotted #CCCCCC;  }

table.feedbacktable{ width:100%;}

table.feedbacktable .t1{ width:25%; text-align:left }

table.feedbacktable .t2{ width:75%; text-align:left;}



/*评论*/

.comment{}

.CommentList h1{ border-bottom:1px #999999 dotted; padding:5px 0px;} /*评论列表标题*/

.LeaveComment h1{ border-bottom:1px #999999 dotted; padding:5px 0px; } /*我要评论标题*/

.CommentTime {}

.CommentContent { color:#999999 }

table.commenttable{ width:100%;  }

table.commenttable	.t1{ width:28%; text-align:left}

table.commenttable	.t2{ height:72%; text-align:left}



/*搜索 */

.search{width:98%;margin:0px auto}

.searchresult{ font-weight:bold; font-size:18px;}



/*订购*/

.order{width:98%;margin:0px auto}

.order .WantOrder h1{ border-bottom:1px dotted #999999; padding: 5px 0px;}

.order .f1{ float:right; color:red;}

.order table.ordertable{ width:100%;  }

.order table.ordertable .t1{ width:28%; text-align:left}

.order table.ordertable	 .t2{ height:72%; text-align:left}



/*地图*/

.sitemaplist li{border:1px dashed #d0d1d4;border-top:0px;padding: 0.5em 8px; background-color:#FFF}

.sitemaplist li .ChannelName{ font-weight:bold;}

.sitemaplist li .ChannelDepth1{ font-weight:bold;}

.sitemaplist li .ChannelDepth2{text-indent: 2em; }

.sitemaplist li .ChannelDepth3{text-indent: 4em; }

.sitemaplist li .ChannelDepth4{text-indent: 6em; }

.sitemaplist li .ChannelDepth5{text-indent: 8em; }

/*==========@@频道模型 结束@@==========*/




/*带缩略图文本列表*/

.thumblist li{

    overflow:hidden;

    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;-o-border-radius:5px;

    border:1px solid #d0d1d4;

    margin: 10px auto;

    padding: 8px;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);  -moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

}

.thumblist li .InfoPicture, .thumblist li .ChannelPicture{ border: 0px solid red}

.thumblist li .InfoPicture img, .thumblist li .ChannelPicture img{ width:80px; height:80px; float:left; margin-right:5px}

.thumblist li .InfoSContent, .thumblist li .ChannelSContent{ line-height: 1.5em; padding:5px 2px; color:#666; font-size:14px;}



/*橱窗列表*/

.gridlist li{

    border:1px solid #d0d1d4;

    padding: 3px;

    margin:3px;

    width:45%;

    float:left;

    line-height:1em;

    border-radius: 5px 5px 5px 5px; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px;-o-border-radius:5px 5px 5px 5px;

    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);  -moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

}

.gridlist li .InfoTitle{ height: 25px; line-height:25px; overflow: hidden; font-size:14px; }

.gridlist li .InfoPicture, .gridlist li .ChannelPicture{ }

.gridlist li .InfoPicture img, .gridlist li .ChannelPicture img{ height: 120px;}




/*==========@@重用组件 开始@@==========*/

/*常用颜色*/

.blue {color: #00F !important;}

.green {color: #0F0 !important;}

.red {color: #F00 !important;}

.black {color: #000000 !important;}

.white {color: #FFFFFF !important;}



/*清除浮动*/

.clear { display:block; clear:both;}



/*必须输入，主要*/

.required{ color:red; font-weight:bold;}
